.answer-input::-webkit-outer-spin-button,
.answer-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.answer-input {
    -moz-appearance: textfield;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: black;
}

.container {
    background: white;
    height: 94vh;
    margin: 3vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game_choose {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    font-size: 32px;
}

.answer-input {
    width: 40px;
    font-size: 24px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    appearance: none;
    -moz-appearance: textfield;
}

.answer-input.wrong {
    color: #FA8072;
}

.error {
    color: #FA8072;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 0;
}

table {
    max-width: 80vh;
    width: 100%;
    height: 70vh;
    margin: 40px auto;
    padding: 20px;
    border-collapse: collapse;
}

tr {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    vertical-align: middle;
    padding: 5px 0;
}

td {
    font-size: 24px;
    vertical-align: middle;
}

.hint-container {
    display: flex;
    justify-content: flex-start;
    margin-right: 0;
    margin-left: auto;
    gap: 5px;
    position: relative;
}

.cube {
    width: 24px;
    height: 24px;
    background-color: #228B22;
    border-radius: 3px;
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.cube.rise {
    transform: translateY(0);
    opacity: 1;
}

button {
    height: 30px;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    cursor: pointer;
    color: black;
}

button:hover {
    background-color: #AFEEEE;
}

button.correct {
    background-color: #228B22;
}

button.wrong {
    background-color: #FA8072;
}

button.disabled {
    background-color: #A9A9A9;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #A9A9A9;
    cursor: not-allowed;
}

#randomN {
    background-color: #FFD700;
    border: none;
    cursor: pointer;
    margin: 40px auto;
}

#randomN:hover {
    background-color: #FFC107;
}

@media (max-width: 550px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 28px;
    }

    .answer-input {
        font-size: 18px;
    }

    .error {
        font-size: 12px;
    }

    table {
        padding: 10px;
    }

    tr {
        font-size: 18px;
    }

    td {
        font-size: 18px;
    }

    .cube {
        width: 20px;
        height: 20px;
    }

    button {
        font-size: 16px;
    }
}

@media (max-width: 440px) {
    .container {
        height: 98vh;
        margin: 1vh;
    }

    .answer-input {
        width: 30px;
        font-size: 16px;
    }

    table {
        margin: 20px auto;
    }

    tr {
        font-size: 16px;
    }

    td {
        font-size: 16px;
    }

    .hint-container {
        gap: 1px;
    }

    .cube {
        width: 16px;
        height: 16px;
    }
}